body {
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
}

.app {
  max-width: 860px;
  min-height: 600px;
  margin: 60px auto;
}
.app header {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
@media (min-width: 576px) {
  .app header {
    justify-content: flex-end;
  }
}
.app header .svg-logo {
  width: 200px;
}
.app .container {
  background-color: white;
}
.app .container .content {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 32px;
}
.app .container .content .title {
  font-size: 24px;
  margin: 4px 0;
}
.app .container .content .sub-title {
  font-size: 18px;
  font-weight: 500;
  width: 70%;
}
.app .container .content p .link {
  color: #ff4d72;
}
.app .container .content p .link:hover {
  color: #34485c;
}
.app .container .content .read-more-link {
  text-transform: uppercase;
  color: gray;
  text-align: right;
  float: right;
  text-decoration: none;
}
.app .container .content .read-more-link:hover {
  color: #34485c;
}
.app .container .content .read-more-link svg {
  color: #ff4d72;
}
.app .container .mail-sending-form {
  padding: 64px;
}
.app .container .mail-sending-form .heading {
  margin: 0;
  padding: 4px 0;
  font-size: 24px;
  color: black;
}
.app .container .mail-sending-form .sub-heading {
  margin: 0;
  margin-bottom: 16px;
  padding: 4px 0;
  font-size: 18px;
  color: grey;
}
.app .container .mail-sending-form .form-input {
  margin-bottom: 8px;
}
.app .container .mail-sending-form .form-input label {
  float: left;
  display: block;
  font-weight: 600;
  font-size: 18px;
  width: 160px;
}
.app .container .mail-sending-form .form-input input[type=text] {
  min-width: 240px;
  padding: 8px;
}
.app .container .mail-sending-form .form-input .error {
  color: #ff4d72;
  font-size: 14px;
}
.app .container .mail-sending-form button {
  margin-left: 160px;
  margin-top: 8px;
  padding: 0px;
  background-color: white;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
}
.app .container .mail-sending-form button svg {
  margin-right: 8px;
  color: white;
  background-color: #364a5f;
}
.app .container .mail-sending-form button:hover {
  color: #ff4d72;
  cursor: pointer;
}
.app .container .mail-log {
  padding: 32px;
}
.app .container .mail-log .title {
  font-size: 24px;
  margin: 4px 0;
}
.app .container .mail-log .link {
  display: block;
  margin-top: 16px;
  text-decoration: none;
  color: #34485c;
  text-transform: uppercase;
}
.app .container .mail-log .link:hover {
  color: #ff4d72;
  cursor: pointer;
}
.app .container .mail-log table {
  border-collapse: collapse;
  width: 100%;
}
.app .container .mail-log table thead th {
  border: 1px solid grey;
  border-bottom: 1px solid lightgrey;
  padding: 8px;
  background-color: lightgrey;
}
.app .container .mail-log table tbody tr td {
  border: 1px solid lightgrey;
  padding: 8px;
}
.app footer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.app footer .footer-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}
.app footer .footer-list li {
  margin: 2px;
  padding: 0px;
}
.app footer .footer-list li a {
  color: black;
  text-decoration: underline;
}
.app footer .footer-list li a:hover {
  color: #ff4d72;
  text-decoration: none;
}
@media (min-width: 576px) {
  .app footer .footer-list {
    flex-direction: row;
  }
  .app footer .footer-list li {
    margin: 0px 8px;
    padding: 0px;
    padding-right: 8px;
    border-right: 3px solid #34485c;
  }
  .app footer .footer-list li:last-child {
    border-right: none;
  }
}
.app .alert {
  padding: 8px;
  color: black;
}
.app .alert .alert-success {
  background-color: #354a5f;
  color: white;
}
.app .alert .alert-error {
  background-color: #ff4d72;
}
