body {
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
}

.app {
  max-width: 860px;
  min-height: 600px;
  margin: 60px auto;
}
.app header {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
@media (min-width: 576px) {
  .app header {
    justify-content: flex-end;
  }
}
.app header .svg-logo {
  width: 200px;
}
.app .container {
  background-color: white;
}
.app .container .content {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 32px;
}
.app .container .content .title {
  font-size: 24px;
  margin: 4px 0;
}
.app .container .content .sub-title {
  font-size: 18px;
  font-weight: 500;
  width: 70%;
}
.app .container .content p .link {
  color: #ff4d72;
}
.app .container .content p .link:hover {
  color: #34485c;
}
.app .container .content .read-more-link {
  text-transform: uppercase;
  color: gray;
  text-align: right;
  float: right;
  text-decoration: none;
}
.app .container .content .read-more-link:hover {
  color: #34485c;
}
.app .container .content .read-more-link svg {
  color: #ff4d72;
}
.app footer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.app footer .footer-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}
.app footer .footer-list li {
  margin: 2px;
  padding: 0px;
}
.app footer .footer-list li a {
  color: black;
  text-decoration: underline;
}
.app footer .footer-list li a:hover {
  color: #ff4d72;
  text-decoration: none;
}
@media (min-width: 576px) {
  .app footer .footer-list {
    flex-direction: row;
  }
  .app footer .footer-list li {
    margin: 0px 8px;
    padding: 0px;
    padding-right: 8px;
    border-right: 3px solid #34485c;
  }
  .app footer .footer-list li:last-child {
    border-right: none;
  }
}
