// variables : colours
$primary: #34485c;
$secondary: #ff4d72;
$grey: grey;
$light-grey: lightgrey;
$black: black;
$white: white;

// base
body {
    margin: 0px;
    padding: 0px;
    background-color: $light-grey;
}

// app
.app {
    max-width: 860px;
    min-height: 600px;
    margin: 60px auto;

    header {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        // larger than mobile screen
        @media (min-width: 576px) { 
            justify-content: flex-end;
         }

        .svg-logo {
            width: 200px;
        }
    }

    .container {
        background-color: $white;

        .content {
            display: block;
            overflow: hidden;
            position: relative;
            padding: 32px;

            .title {
                font-size: 24px;
                margin: 4px 0;
            }

            .sub-title {
                font-size: 18px;
                font-weight: 500;
                width: 70%;
            }

            p {
                .link {
                    color: $secondary;

                    &:hover {
                        color: $primary;
                    }
                }
            }

            .read-more-link {
                text-transform: uppercase;
                color: gray;
                text-align: right;
                float: right;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }

                svg {
                    color: $secondary;
                } 
            }
        }





        // mail sending form 
        .mail-sending-form {
            padding: 64px;

            .form-input {
                margin-bottom: 8px;


                label {
                    float: left;
                    display: block;
                    font-weight: 600;
                    font-size: 18px;
                    width: 160px;
                    
                }

                input[type="text"] {
                    min-width: 240px;
                    padding: 8px;
                }

                .error {
                    color: $secondary;
                    font-size: 14px;
                }

               

            }

            button {
                margin-left: 160px;
                margin-top: 8px;
                padding: 0px;
                background-color: $white;
                text-transform: uppercase;
                border: none;
                font-size: 18px;

                svg {
                    margin-right: 8px;
                    color: $white;
                    background-color: lighten($primary, 0.9);
                }

                &:hover {
                    color: $secondary;
                    cursor: pointer;
                }
            }

          
        }




    }

    footer {
        margin-top: 24px;
        display: flex;
        justify-content: center;

        .footer-list {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-direction: column-reverse;

            li {
                margin: 2px;
                padding: 0px;

                a {
                    color: $black;
                    text-decoration: underline;

                    &:hover {
                        color: $secondary;
                        text-decoration: none;
                    }
                }
            }

            @media (min-width: 576px) { 
                flex-direction: row;

                li {
                    margin: 0px 8px;
                    padding: 0px;
                    padding-right: 8px;
                    border-right: 3px solid $primary;
                    &:last-child {
                        border-right: none;
                    }
                }
             }
        }
    }
}